<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>element-ui index</title>
    <link type="text/css" rel="stylesheet" href="/plugs/element/index.css" />
    <style>
        .bg-purple{
            background: #67C23A;
        }
    </style>
</head>
<body >
    <div id="app">
        <el-row :span="24">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>商品属性管理</el-breadcrumb-item>
                <el-breadcrumb-item :to="{path:'www.baidu.com'}">商品品牌</el-breadcrumb-item>
            </el-breadcrumb>
        </el-row>
        <el-row :span="24">
            <el-date-picker
                    v-model="test"
                    type="datetimerange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>
        </el-row>
    </div>
    <script type="text/javascript" src="/plugs/vue.min-2.5.13.js"></script>
    <script type="text/javascript" src="/plugs/element/index.js"></script>
    <script type="text/javascript" src="/news/element-ui.js"></script>
</body>
</html>