<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news index</title>
    <script type="text/javascript" src="/plugs/vue.min-2.5.13.js"></script>
</head>
<body>
    <div id = "vue_det">
        <h3>site:{{site}}</h3>
        <h4>url:{{url}}</h4>
        <h4>{{details()}}</h4>
    </div>
<script>
    var vm = new Vue({
        el:'#vue_det',
        data:{
            site:"菜鸟教程",
            url:"www.runoob.com",
            alexa:"10000"
        },
        methods:{
            details:function () {
                return this.site+"-学的不仅是技术，更是梦想";
            }
        }
    })
</script>
</body>
</html>