<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news index</title>
    <script type="text/javascript" src="/plugs/vue.min-2.5.13.js"></script>
</head>
<body >
<div id="change_site">
    <div >
        <h3>site:{{initData.site}}</h3>
        <h4>url:{{initData.url}}</h4>
        <h4>alexa:{{initData.alexa}}</h4>
    </div>
    <div id="testFor">
        <ul>
            <li v-for="site in testFor">{{site.name}}</li>
        </ul>
    </div>
    <div id="objFor">
        <ul>
            <li v-for="value in sohu">{{value}}</li>
        </ul>
    </div>
    <div id="keyFor">
        <ul>
            <li v-for="(value,key) in sohu">{{key}}:{{value}}</li>
        </ul>
    </div>
    <div >
        <button @click="change1(1)">百度</button>
        <button @click="change1(2)">腾讯</button>
        <button @click="change1(3)">搜狐</button>
        <button onclick="testSet()">test set</button>
    </div>
    <div>
        <h3>自定义</h3>
        <label for="site_input">site:</label><input id="site_input" /><br/>
        <label for="url_input">site:</label><input id="url_input" /><br/>
        <label for="alexa_input">site:</label><input id="alexa_input" /><br/>
        <button @click="selfDef">提交</button>
    </div>
</div>

<script>
    var c_s = new Vue({
        el:"#change_site",
        data:{
            initData:{
                site:"菜鸟教程",
                url:"www.runoob.com",
                alexa:"10000"
            },
            baidu:{
                site:"百度一下",
                url:"www.baidu.com",
                alexa:"百度一下，你就知道"
            },
            tencent:{
                site:"腾讯",
                url:"www.tencent.com",
                alexa:"腾讯"
            },
            sohu:{
                site:"搜狐",
                url:"www.sohu.com",
                alexa:"搜狐"
            }
            ,
            testFor:[
                {name:"aaa"},
                {name:"bbb"},
                {name:"ccc"}
            ]
        },
        computed:{
            testFor:{
             set:function (val) {
                 console.log(val);
                 val[0].name=this.testFor[0]+"-"+val[0].name;
                 val[1].name=this.testFor[1]+"-"+val[1].name;
                 val[2].name=this.testFor[2]+"-"+val[2].name;
             }
            }
        },
        methods:{
            change1:function (type) {
                if(type==1){
                    this.initData = this.baidu;
                }else if(type==2){
                    this.initData = this.tencent;
                }else if(type==3){
                    this.initData = this.sohu;
                }
            }
            ,
            selfDef:function () {
                if(!this.validate()){
                    return false;
                }
                var site_def = document.getElementById("site_input").value;
                var url_def = document.getElementById("url_input").value;
                var alexa_def = document.getElementById("alexa_input").value;
            },
            validate:function () {
                var site_def = document.getElementById("site_input").value;
                var url_def = document.getElementById("url_input").value;
                var alexa_def = document.getElementById("alexa_input").value;
                if(site_def==""){
                    return false;
                }
                if(url_def==""){
                    return false;
                }
                if(alexa_def==""){
                    return false;
                }
                return true;
            }

        }
    });
    function testSet() {
        c_s.$testFor = [{name:"eee"},
            {name:"fff"},
            {name:"ggg"}]
    }
</script>
</body>
</html>