/target/*
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
dev-basic-service/basic-service-eureka/target/*
dev-basic-service/basic-service-swagger/target/*
dev-basic-service/basic-service-gateway/target/*
dev-tools-core/tools-core-es/target/*
dev-tools-core/tools-core-jpa/target/*
dev-tools-core/tools-core-mongodb/target/*
dev-tools-core/tools-core-mybatis/target/*
dev-tools-api/tools-core-es-api/target/*
*/target/*
.idea/*
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/