<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

  <resultMap id="BaseResultMap" type="xb.dev.tools.mybatis.dao.entity.UserEntity">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, user_name, password, create_time
  </sql>

  <!-- 根据用户名和密码查询用户    -->
  <select id="login" resultType="xb.dev.tools.mybatis.model.UserLoginInfoModel" parameterType="map">
    select
    user_id userId, user_name username
    from xb_user
    where user_name = #{username,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
  </select>

</mapper>